extends ../layouts/layout.pug

block content
	.row
		.col-md-4.stretch-card.grid-margin
			.card.bg-gradient-warning.text-white
				.card-body
					h4.font-weight-normal.mb-3
						a.text-white(href="/dashboard/trips") Trips Numbers
					h2.font-weight-normal.mb-5= trips.length
					p.card-text Incresed by 60%
		.col-md-4.stretch-card.grid-margin
			.card.bg-gradient-info.text-white
				.card-body
					h4.font-weight-normal.mb-3 
						a.text-white(href="/dashboard/requests?type='waiting'") Waiting Requested
					h2.font-weight-normal.mb-5= requests
					p.card-text Incresed by 1%
		.col-md-4.stretch-card.grid-margin
			.card.bg-gradient-success.text-white
				.card-body
					h4.font-weight-normal.mb-3 
						a.text-white(href="/dashboard/trips") Active Trips
					h2.font-weight-normal.mb-5= activeTrips
					p.card-text Increased by 5%
	.row
		.col-md-7.grid-margin.stretch-card
			.card
				.card-body
					h4.card-title Trips Graph
					canvas#sales-chart
		.col-md-5.grid-margin.stretch-card
			.card
				.card-body.d-flex.flex-column
					h4.card-title Users Grows Graph
					.mt-auto
						canvas#satisfaction-chart(height='200')
	.row
		.col-md-12.grid-margin.stretch-card
				.card
					.card-body
						h4.display-3.text-uppercase all active trips
						.table-responsive
							if (trips.length)
								table.table
									thead
										tr
											th.border-0
												| #
											th.border-0
												| Trip Name
											th.border-0
												| Hotel Name
											th.border-0
												| Hotel Include
											th.border-0
												| Start Date
											th.border-0
												| Due Date
											th.border-0
												| duration
											th.border-0 
												| Edit / Delete
									tbody
										each trip, index in trips
											tr
												td= index+1
												td= trip.name
												td= trip.hotel.name
												td.d-flex.flex-row.justify-content-start
													if trip.hotel.include.split(',').length <= 2
														each badge in trip.hotel.include.split(',')
															.badge.mr-1.badge-success= badge
													else 
														.badge.mr-1.badge-success= trip.hotel.include.split(',')[0]
														.badge.mr-1.badge-success= trip.hotel.include.split(',')[1]
														.badge.mr-1.bg-white.text-success= `+${trip.hotel.include.split(',').length - 2}`
												td= trip.duration.from
												td= trip.duration.to
												td= `${trip.durationInDays} Days`
												td
													a(href=`/dashboard/trip/update/${trip._id}`)
														i.fa.fa-edit.teprimary.mr-5
													a.text-dark(href=`/dashboard/trips/delete/${trip._id}` id=`deactivateTrip-${trip.code}` data-toggle="tooltip" data-placement="top" title="De-Activatate this trip!")
														i.fa.fa-eye-slash
							else 
								h3.text-muted.text-center.text-capitalize.display-3 there is no active trips yet

						a.mt-5.float-right.btn.btn-gradient-secondary.text-white.text-capitalize(href="/dashboard/trips/add") Add new Trip

	.row
		.col-md-12.grid-margin.stretch-card
			.card
				.card-body
					h4.card-title Shipping Status
					.table-responsive
						table.table
							thead
								tr
									th
										| #
									th
										| Name
									th
										| Overall Progress
									th
										| ID
									th
										| Start Date
									th
										| Due Date
							tbody
								tr
									td
										| 1
									td
										| Herman Beck
									td
										.progress
											.progress-bar.bg-gradient-success(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-3
									td
										| May 10, 2015
									td
										| May 15, 2015
								tr
									td
										| 2
									td
										| Messsy Adam
									td
										.progress
											.progress-bar.bg-gradient-danger(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-4
									td
										| May 01, 2015
									td
										| Jul 01, 2015
								tr
									td
										| 3
									td
										| John Richards
									td
										.progress
											.progress-bar.bg-gradient-warning(role='progressbar', style='width: 90%', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-5
									td
										| Mar 10, 2015
									td
										| Apr 12, 2015
								tr
									td
										| 4
									td
										| Peter Meggik
									td
										.progress
											.progress-bar.bg-gradient-primary(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-6
									td
										| May 10, 2015
									td
										| May 15, 2015
								tr
									td
										| 5
									td
										| Edward
									td
										.progress
											.progress-bar.bg-gradient-danger(role='progressbar', style='width: 35%', aria-valuenow='35', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-7
									td
										| Jan 23, 2015
									td
										| May 03, 2015
								tr
									td
										| 5
									td
										| Ronald
									td
										.progress
											.progress-bar.bg-gradient-info(role='progressbar', style='width: 65%', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-8
									td
										| Jun 01, 2015
									td
										| Jun 05, 2015
