extends ../../layouts/layout.pug

block content
	.col-md-12.grid-margin.stretch-card
		.card
			.card-body
				h3.card-title.mb-1= title
				h5.card-description.text-muted.mb-5
					| Edit Your information.
				form.forms-sample.row(action=`/dashboard/profile/${user.slug}/edit?_csrf=${csrfToken()}`, method="POST", enctype="multipart/form-data")
					input(type="hidden", name="_csrf", value=`${csrfToken()}`)
					.form-label-group.col-md-4
						input#name.form-control.form-control-lg(type='text', placeholder='Name', value=(user != undefined ? user.name : '') , name="name" required)
						label.ml-3(for='name') Name
					.form-label-group.col-md-4
						input#email.form-control.form-control-lg(type='email', placeholder='Email', name="contacts[email]", value=(user.contacts != undefined ? user.contacts.email : ''))
						label.ml-3(for='email') Email address
					.form-label-group.col-md-4
						input#mobileNumber.form-control.form-control-lg(type='text', name="contacts[mobileNumber]", value=(user.contacts != undefined ? user.contacts.mobileNumber : ''), placeholder='Mobile number')
						label.ml-3(for='mobileNumber') Mobile Number
					.form-label-group.col-md-4
						input#website.form-control.form-control-lg(type='text', name="contacts[website]", value=(user.contacts != undefined ? user.contacts.website : ''), placeholder='Website')
						label.ml-3(for='website') Website
					.form-group.col-md-12
						label(for="required-papers") Required Papers
						input.form-control.form-control-lg.selectePapers(type='text', placeholder="Required Papers.")
						input.invisible.w-122(type="hidden", name="required_papers", value="", id="required-papers")
					.form-group.col-md-12
						input.file-upload-default(type='file', name='photo', id="photo", accept="image/gif, image/png, image/jpeg")
						label Image
						.input-group.col-xs-12(style="z-index:0;")
							input.form-control.file-upload-info.form-control-lg(type='file', name='photo', id="photo", accept="image/gif, image/png, image/jpeg", placeholder="Upload image")
							span.input-group-btn
								button.file-upload-browse.btn.btn-info(type='button') Upload
					if user.photo
						.form-group.col-md-12.text-center
							img.mb-2.mw-50.w-50.rounded(src=`/img/uploads/${user.photo}`, alt=`${user.photo}`)

					.form-label-group.col-md-12
						input#autocomplete.form-control.form-control-lg(type='text', placeholder='Address', name="location[address]", value=(user.location && user.location.address) required)
						label.ml-3(for='address') Address
					.form-label-group.col-md-6
						input#lng.form-control.form-control-lg(type='text', placeholder='Lng', name="location[coordinates][0]", value=(user.location && user.location.coordinates[0]) required readonly)
						label.ml-3(for='lng') Address Lng
					.form-label-group.col-md-6
						input#lat.form-control.form-control-lg(type='text', placeholder='Lat', name="location[coordinates][1]", value=(user.location && user.location.coordinates[1]) required readonly)
						label.ml-3(for='lat') Address Lat
					.form-label-group.col-md-6
						input#city.form-control.form-control-lg(type='text', placeholder='City', name="location[city]", value=(user.location && user.location.city) required)
						label.ml-3(for='city') Address City
					.form-label-group.col-md-6
						input#country.form-control.form-control-lg(type='text', placeholder='Country', name="location[country]", value=(user.location && user.location.country) required)
						label.ml-3(for='country') Address Country

					.form-group.col-md-12
						label(for='description') Description
						textarea#description.form-control.form-control-lg(rows='5', name="description" required)=user.description 
					.form-group.col-md-4
						button.btn.btn-success.btn-lg.mr-2(type='submit') Submit
				script.
					(function(){
						var eventLog = function (ctx, e) {
							var html = [
								"name: " + ctx.get("name"),
								"event.type: " + e.type,
								"val: " + ctx[0]
							];
							// $(".events-plate").html(html.join("<br />"));
							// console.log(html.join());
						};
						var valuesArr = [];
						$(".selectePapers").mSelectDBox({
							"list": ["أصل جواز السفر صالح لمدة سنة من تاريخ الرحلة (الجواز المميكن)", "عدد 2 صوره شخصيه خلفيه بيضاء والسيدات بالحجاب ", "شهادة صحية من مكتب صحه حكومي بها صوره مختومه ويرفق بها أصل إيصال السداد للكبار وبالنسبة للأطفال أقل من سنتين يتم تقديم أصل شهادة الميلاد عليها تطعيمات (مكتب الصحة) وهذه الشهاده صالحه لمدة سنتين", "الإناث أقل من 21 سنه والذكور اقل من 18 سنه فى حالة عدم سفر الوصي يجب احضار موافقة الوصي موثقه فى الشهر العقاري ومصدقه من الخارجيه مع أحضار أصل قرار الوصايه (جميع المستندات مكتوبة على الحاسب الالى وموثقه فى الخارجية )", "السيدات اقل من 45 سنه يلزم وجود محرم (ذكر لا يقل سنه عن 18 سنه) من الدرجه الأولي (أب – أخ – أبن – عم – خال – أبن أخ – أبن أخت + الجد + الحماة)", "فى حالة ان يكون المحرم الزوج او الحماه يجب ان يكون اسم الزوج مثبوت في جواز السفر وفى حاله عدم اثباته يجب احضار قسيمه الزواج موثقه من الخارجية", "يجوز أن يكون والد الزوج محرم لزوجة أبنه بعد عمل موافقه كما سبق", "يجوز أن يكون زوج الأم محرم لبنات زوجته مع مراعاة شروط الموافقه السابقه.", "سفر الذكور غير المرافقين لمحارمهم (بمفردهم) لايقل السن عن 18 سنه", "يلتزم العميل بإحضار تصريح السفر من التجنيد وتصريح السفر من جهة العمل بمعرفته لمن ينطبق عليهم ذلك يجب أن يكون مع العميل هذه الأوراق عند السفر حتى لا يفاجئ العميل بوجود موانع للسفر ويكون الوقت ضيق لحلها وبالتالى لن يتمكن من السفر وفى نفس الوقت لن يتمكن من إسترداد قيمة الرحله لأن جميع إلتزامات الرحلة قد تم تنفيذها للعميل فور تسلم العميل الجواز من الشركة", "لغير المصريين يجب أن يكون الجواز به أقامه لا تقل عن ستة أشهر من تاريخ الرحله مع إحضار خطاب عدم ممانعه من بلد المعتمر يوجه للقنصليه السعوديه", "يتم احتساب السن على أساس تاريخ سفر الرحلة"],
							"multiple": true,
							"autoComplete": true,
							"width": "100%",
							"name": "b",
							"onInit": function (ctx) {
								new $.fn.mSelectDBox.MyCustomAppear1(ctx);
							},
							"input:empty": eventLog,
							"onselect": function (msdbContext) {
								var values = msdbContext._props.target.attributes['data-msdb-value'].value;
								valuesArr = $(".selectePapers").mSelectDBox().getSelectedValues();
								var input = $('#required-papers');
								$(input).val(valuesArr);
							}
						});
					})();