extends ../../layouts/layout.pug

include ../../mixins/_singleReview.pug

block content
	.container
		.row
			.col-lg-12.grid-margin.stretch-card
				.card
					.card-body
						h1.card-title.mb-2= `${company.name}'s Profile`
							a.h6.font-weight-light.text-primary.ml-1.float-right(href=`/dashboard/profile/${company.slug}/edit`) Edit profile
						.d-flex
							.br-wrapper.br-theme-fontawesome-stars
								.text-muted.ml-0
									select#singleCompanyRating(disabled="disabled")
										- for(var i = 1 ; i <= 5 ; i++){
											if (i == rating)
												option(value=`${i}` select)
											else 
												option(value=`${i}`)
										- }
						script.
							$(document).ready(function(){
								var ratingNum = "#{rating}";
								ratingNum = parseInt(ratingNum);
								$(`#singleCompanyRating`).barrating({
									readonly: true,
									showSelectedRating: true,
									initialRating: `${ratingNum}`
								});
							});
						.d-flex
							.d-flex.text-muted#createdAt
								i.mdi.mdi-calendar-blank.icon-sm.mr-2
								-
									var now = h.moment(company.created);
									var diff = now.toNow();
								span= `Created ${diff}`
							.d-flex.text-muted.ml-5
								i.fa.fa-phone.icon-sm.mr-2.pt-1
								if !company.contacts.mobileNumber
									span 
										| +01-xxx-xxxxxx Edit your profile to add phone number
										a.font-weight-light.text-primary.ml-3(href=`/dashboard/profile/${company.slug}/edit`) Edit 												
								else 
									span= `${company.contacts.mobileNumber}`
						.row.mt-3
							.col-12.pr-1
								img.mb-2.mw-100.w-100.rounded(src=h.staticMap([`${company.location.coordinates[0]}`, `${company.location.coordinates[1]}`]), alt='image')
						.d-flex.mt-3.align-items-top
							.mb-0.flex-grow
								if !company.description
									p 
										| Edit your profile to add description
										a.font-weight-light.text-primary.ml-3(href=`/dashboard/profile/${company.slug}/edit`) Edit 
								else 
									p= `${company.description}`