extends ../../layouts/layout.pug

block content
	.container
		.row
			.col-md-12.grid-margin.stretch-card
				.card
					.card-body
						h4.display-3.text-uppercase all active trips
						.table-responsive
							if (activeTrips.length)
								table.table
									thead
										tr
											th.border-0
												| #
											th.border-0
												| Trip Name
											th.border-0
												| Hotel Name
											th.border-0
												| Hotel Include
											th.border-0
												| Start Date
											th.border-0
												| Due Date
											th.border-0
												| duration
											th.border-0 
												| Edit / Delete
									tbody
										each trip, index in activeTrips
											tr
												td= index+1
												td= trip.name
												td= trip.hotel.name
												td.d-flex.flex-row.justify-content-start
													if trip.hotel.include.split(',').length <= 2
														each badge in trip.hotel.include.split(',')
															.badge.mr-1.badge-success= badge
													else 
														.badge.mr-1.badge-success= trip.hotel.include.split(',')[0]
														.badge.mr-1.badge-success= trip.hotel.include.split(',')[1]
														.badge.mr-1.bg-white.text-success= `+${trip.hotel.include.split(',').length - 2}`
												td= trip.duration.from
												td= trip.duration.to
												td= `${trip.durationInDays} Days`
												td
													a(href=`/dashboard/trip/update/${trip._id}`)
														i.fa.fa-edit.teprimary.mr-5
													a.text-dark(href=`/dashboard/trips/delete/${trip._id}` id=`deactivateTrip-${trip.code}` data-toggle="tooltip" data-placement="top" title="De-Activatate this trip!")
														i.fa.fa-eye-slash
							else 
								h3.text-muted.text-center.text-capitalize.display-3 there is no active trips yet

						a.mt-5.float-right.btn.btn-gradient-secondary.text-white.text-capitalize(href="/dashboard/trips/add") Add new Trip
			.col-md-12.grid-margin.stretch-card
				.card
					.card-body
						//- p= h.dump(trips)
						h4.display-3.text-uppercase all finished trips
						.table-responsive
							if (unActiveTrips.length)
								table.table
									thead
										tr
											th.border-0
												| #
											th.border-0
												| Trip Name
											th.border-0
												| Hotel Name
											th.border-0
												| Hotel Include
											th.border-0
												| Start Date
											th.border-0
												| Due Date
											th.border-0
												| duration
											th.border-0 
												| activate
									tbody
										each trip, index in unActiveTrips
											tr
												td= index+1
												td= trip.name
												td= trip.hotel.name
												td.d-flex.flex-row.justify-content-start
													if trip.hotel.include.split(',').length <= 2
														each badge in trip.hotel.include.split(',')
															.badge.mr-1.badge-success= badge
													else 
														.badge.mr-1.badge-success= trip.hotel.include.split(',')[0]
														.badge.mr-1.badge-success= trip.hotel.include.split(',')[1]
														.badge.mr-1.bg-white.text-success= `+${trip.hotel.include.split(',').length - 2}`
												td= trip.duration.from
												td= trip.duration.to
												td= `${trip.durationInDays} Days`
												td.text-center
													a.text-dark(href=`/dashboard/trips/show/${trip._id}` id=`activateTrip-${trip.code}` data-toggle="tooltip" data-placement="top" title="Activate this trip!")
														i.far.fa-eye
											script.
												$(`#activateTrip-#{trip.code}`).on('click', function(e){
													e.preventDefault();
													var redirectUrl = $(this).attr('href');
													var $deleteRev = confirm('Are you sure you want to Activate this Trip? ');
													if ($deleteRev){
														window.location.href = redirectUrl;
													}
												});
							else 
								h3.text-muted.text-capitalize.text-center.display-3 there is no finished trips yet