extends layout.pug

block content
	.col-lg-12.grid-margin.stretch-card
		.card
			if companies.length != 0
				.card-body
					h4.card-title Companies
					p.card-description
						| All companies
					table.table.table-hover
						thead
							tr
								th Name
								th Prev
								th Address
								th Mobile number
								th Email
								th Edit / Delete
						tbody
							each company in companies
								tr
									td
										a(href=`/companies/${company.slug}`)= company.name
									td.py-1
										img(src=`/uploads/${company.photo}`, alt=`${company.photo}`)
									td= company.location.address.split(' ').slice(0, 3).join(' ')
									td= company.contacts.mobileNumber
									td= company.contacts.email
									td
										a(href=`/companies/edit/${company._id}` class="col-md-6")
											i.fa.fa-edit(aria-hidden="true")
										a(href=`/companies/delete/${company._id}` class="col-md-6")
											i.fa.fa-trash-o(aria-hidden="true")
			else 
				.card-body
					h4.text-center No companies to show


//- <!DOCTYPE html>
//- html(lang="en")
//- 	include partials/header.pug

//- 	body

//- 		.wrapper
//- 			include partials/sidebar.pug
			
//- 			.main-panel
//- 				include partials/nav.pug
//- 				.content
//- 					.container-fluid
//- 						.row
//- 							.col-md-12
//- 								.card
//- 									.card-header(data-background-color='purple')
//- 										h4.title Companies Table
//- 										p.category Here is a list of all of companies in the system
//- 									.card-content.table-responsive
//- 										table.table
//- 											thead.text-primary
//- 												th 
//- 													h3 Name
//- 												th 
//- 													h3 Address
//- 												th 
//- 													h3 Mobile Number
//- 												th 
//- 													h3 Email
//- 												th 
//- 													h3 Edit / Delete
//- 											tbody
//- 												each company in companies
//- 													tr
//- 														td.text-primary
//- 															a(href=`/companies/${company.slug}`)= company.name
//- 														td= company.location.address
//- 														td= company.contacts.mobileNumber
//- 														td= company.contacts.email
//- 														td
//- 															a(href=`/companies/edit/${company._id}` class="col-md-6")
//- 																i.material-icons create
//- 															a(href=`/companies/delete/${company._id}` class="col-md-6")
//- 																i.material-icons delete
												

//- 				footer.footer
//- 					.container-fluid
//- 						nav.pull-left
//- 							ul
//- 								li
//- 									a(href='/')
//- 										| Home
//- 								li
//- 									a(href='/companies')
//- 										| Companies
//- 								li
//- 									a(href='/portfolio')
//- 										| Portfolio
										
//- 						p.copyright.pull-right Mohamed ashraf othman


//- 		include partials/footer.pug