<!DOCTYPE html>
html(lang="en")
	include partials/header.pug

	body
		.wrapper
			include partials/sidebar.pug
			
			.main-panel
				include partials/nav.pug
				.content
					.container-fluid
						.row
							.col-md-12
								.card
									.card-header(data-background-color="purple")
										h4.title Edit #{company.name}
										p.category Edit #{company.name} then added to the database
									.card-content
										form(action=`/companies/add/${company._id}`, method="POST")
											.row
												.col-md-4
													.form-group.label-floating
														label.control-label Company's Name
														input.form-control(type='text', name="name", value=`${company.name}`)
												.col-md-4
													.form-group.label-floating
														label.control-label Email address
														input.form-control(type='email', name="email", value=`${company.contacts.email}`)
												.col-md-4
													.form-group.label-floating
														label.control-label Mobile number
														input.form-control(type='text', name="mobileNumber", value=`${company.contacts.mobileNumber}`)
												.col-md-6
													.form-group.label-floating
														label.control-label Country
														input.form-control(type='text', name="country", value=`${company.location.country}`)
												.col-md-6
													.form-group.label-floating
														label.control-label City
														input.form-control(type='text', name="city", value=`${company.location.city}`)
												.col-md-12
													.form-group.label-floating
														label.control-label Address
														input.form-control(type='text', name="address", value=`${company.location.address}`)
												.col-md-12
													.form-group.label-floating
														label.control-label  About company
														textarea.form-control(rows='5', name="description")= `${company.description}` 

											button.btn.btn-primary.pull-right(type='submit') Add




				footer.footer
					.container-fluid
						nav.pull-left
							ul
								li
									a(href='/')
										| Home
								li
									a(href='/companies')
										| Companies
								li
									a(href='/portfolio')
										| Portfolio
										
						p.copyright.pull-right Mohamed ashraf othman


		include partials/footer.pug