mixin company(company={name:'lorem apsom', created:'sun, 2 july 2015', description:'Lorem ipsum, dolor sit amet consectetur', slug:'#',photo:'big-sec-image.jpg'})
	div(class="col-lg-3 col-md-6 col-sm-6 my-3")
		.company
			img.img-fluid.company-image(src=(company.photo !== undefined) ? ` /img/uploads/${company.photo} ` : `/img/makkah.jpg`, alt=`${company.name}'s image`)
			a.company-title.mt-5(href=`/company/${company.slug}`)
				h3.h4.font-weight-bold= `${company.name}`
				-
					var now = h.moment.utc(`${company.created}`, 'ddd MMM DD YYYY HH:mm:ss ZZ');
					var diff = now.format('dddd, MMMM DD YYYY');
			p.company-date= `${diff}`
			if company.description
				p.company-description= `${company.description.split(' ').splice(0, 12).join(' ')}`
			a.company-showMore.text-white.btn.btn-gradient-primary.btn-sm.btn-fw.font-weight-bold.text-uppercase( href=`/company/${company.slug}`) more