mixin company(name='heaven mobher', date='sun, 2 july 2015', desc='Lorem ipsum, dolor sit amet consectetur', link='#', imgName='big-sec-image.jpg')
	.company.mb-5.mr-3.col-lg-3.col-md-6.col-xs-12
		img.img-fluid.company-image(src=`/img/uploads/${imgName}`, alt=`${name}'s image`)
		a.company-title.mt-5(href=`${link}`)
			h3.h4.font-weight-bold= `${name}`
			-
				var now = h.moment(`${date}`);
				var diff = now.format('LL');
		p.company-date= `${diff}`
		-
			var description = `${desc}`;
			description = description.split(' ').splice(0, 12).join(' ');
		p.company-description= `${description}`
		a.company-showMore.text-white.btn.btn-gradient-primary.btn-sm.btn-fw.font-weight-bold.text-uppercase(type="button" href=`/company/${link}`) more