extends ../layouts/home-layout.pug
include ../mixins/_company.pug

block content
	#list-companies.bg-white
		#list-companies-header.pt-100
			.bg-blure(style=`background-image: url('/img/masjid.jpg')`)
			.container.d-flex.flex-row.align-items-center.justify-content-start(style="min-height: 250px;")
				.row
					#list-companies-header-container
						h3.display-1.text-white.text-uppercase.text-left Companies
		main#list-companies-content.bg-white.pb-5
			.container
				.row
					.col-12.col-lg-3
						//- .card.w-100#list-companies-content-filter
						//- 	.card-body.py-2
						//- 		#list-companies-content-filter-nav
						//- 			h4.m-0.text-dark.text-capitalize.py-2.card-title.display-5 Filter
						//- 				form.mt-3(action="#" method="GET" id="filter-form")
						//- 					.row
						//- 						.form-group.col-12.mb-2
						//- 							label.text-capitalize.text-dark.font-weight-bold.col-form-label(for="#filter-stars") company Stars
						//- 							.br-wrapper.br-theme-fontawesome-stars-o
						//- 								select.form-control#filter-stars
						//- 									option(value="1")
						//- 									option(value="2")
						//- 									option(value="3")
						//- 									option(value="4")
						//- 									option(value="5")
						//- 									option(value="6")
						//- 									option(value="7")
						//- 						.form-group.w-100.my-3
						//- 							button.btn.btn-success.btn-block(type="submit" id="filter-submit") Search
					.col-12.col-lg-12
						.card.w-100#list-companies-content-main
							.card-body.py-2
								h4.m-0.text-dark.text-capitalize.py-2.card-title.display-5 Companies
									small.text-muted.m-0.ml-3.d-inline-block= `${count} companies are available`
								#list-companies-content-main-companies.row.border-bottom.py-4
									each company in companies
										+company(company)
								if (count != 0)
									#list-companies-content-main-pagenation
										nav(aria-label='Page navigation example')
											ul.pagination.justify-content-end.my-3
												li(class=(page == 1 ? "disabled page-item" : "page-item"))
													a.page-link(href=`/companies/${page - 1}`, tabindex='-1') 
														i.fas.fa-arrow-left
												- for(var i = 1 ; i <= pages ; i++){
													li(class=(page==i ? "active page-item" : "page-item"))
														a.page-link(href=`/companies/${i}`)= `${i}`
												- } 
												li(class=(page == pages ? "disabled page-item" : "page-item"))
													a.page-link(href=`/companies/${++page}`) 
														i.fas.fa-arrow-right
			script.
				$(document).ready(function(){
					$('#filter-submit').on('click', function(e){
						e.preventDefault();

						// geting values from inputs
						var $stars = $('select#filter-stars').val();
						
						window.location.href = `/trips/1?stars=${$stars}`;
					});
				});