extends ../layouts/home-layout.pug
include ../mixins/_reviewForm.pug
include ../mixins/_singleReview.pug

block content
	#single-company.bg-white
		#single-company-header.pt-100
			.bg-blure(style=`background-image: url('/img/uploads/${company.photo}')`)
			.container
				.row
					#single-company-header-container.mx-auto
						img.h-100.w-100(src=`/img/uploads/${company.photo}`)
		main#single-company-content.bg-white.pb-5
			.container
				.row
					.col-12.col-lg-8
						.card.w-100.border#single-company-content-main
							.card-body.py-2
								#single-company-content-main-nav
									ul.nav.nav-tabs
										li.nav-item
											a.nav-link.active.text-black.text-capitalize(href="#single-company-content-main-overview") overview
										li.nav-item
											a.nav-link.text-black.text-capitalize(href="#single-company-content-main-papers") reqired papers
										li.nav-item
											a.nav-link.text-black.text-capitalize(href="#single-company-content-main-reviews") reviews
								#single-company-content-main-overview
									if (user && user._id.equals(company._id))
										a.h6.font-weight-light.text-primary.ml-1.float-right.mt-3(href=`/dashboard/profile/${user.slug}/edit`) Edit profile
									h3.card-title.display-2.text-dark.m-0.py-4= `${company.name}`

									#single-company-content-main-overview-rating.py-2.d-flex.flex-row.justify-content-start.align-items-center
										.d-flex
											.br-wrapper.br-theme-fontawesome-stars
												.text-muted.ml-0
													select#singleCompanyRating(disabled="disabled")
														- for(var i = 1 ; i <= 5 ; i++){
															if (i == rating)
																option(value=`${i}` select)
															else 
																option(value=`${i}`)
														- }
										script.
											$(document).ready(function(){
												var ratingNum = "#{rating}";
												ratingNum = parseInt(ratingNum);
												$(`#singleCompanyRating`).barrating({
													readonly: true,
													showSelectedRating: true,
													initialRating: `${ratingNum}`
												});
											});
										div.ml-3
											h6.m-2.text-dark
												i.far.fa-comment.mr-2
												= `${reviews.length} Review`
									#single-company-content-main-overview-description.py-2
										if company.description
											p.text-justify.text-dark.short-desc= `${company.description}`
											if company.description.length > 200
												a.show-more-desc.text-primary.text-capitalize(href="#") Show more description
												script.
													(function(){
														var desc = $('#single-company-content-main-overview-description p');
														var button = $('.show-more-desc');
														button.on('click', function(e){
															e.preventDefault();
															if(desc.hasClass('short-desc')){
																desc.animate({height: "200px"}, 500, ()=> {
																	desc.removeClass('short-desc');
																	button.text('Show Less Description');
																});
															} else {
																desc.animate({height: "65px"}, 500, ()=>{
																	desc.addClass('short-desc');
																	button.text('Show More Description');
																});
															}
														})
													})();
										else 
											h1.text-capitalize.text-muted.text-center.py-2.display-5 there is no description for this company
									#single-company-content-main-overview-about.py-2
										.row
											.col.d-flex.flex-column.justify-content-start.align-items-start
												.d-flex.flex-column.justify-content-start.align-items-start.my-2
													div
														i.fas.fa-phone.fa-sm.text-dark.mr-2
														p.d-inline-block.text-dark.text-capitalize.font-weight-bold.m-0 phone Number
													div
														if !company.contacts.mobileNumber
															p.text-dark.mb-0.ml-4 There is no Mobile Number Provided.
														p.text-dark.mb-0.ml-4= `${company.contacts.mobileNumber}`
												.d-flex.flex-column.justify-content-start.align-items-start.my-2
													div
														i.far.fa-envelope.fa-sm.text-dark.mr-2
														p.d-inline-block.text-dark.text-capitali.font-weight-bold.m-0 E-mail
													div
														p.text-dark.mb-0.ml-4= `${company.contacts.email}`
												.d-flex.flex-column.justify-content-start.align-items-start.my-2
													div
														i.far.fa-clock.fa-sm.text-dark.mr-2
														p.d-inline-block.text-dark.text-capitalize.font-weight-bold.m-0 Hours of operation
													div
														//- hard coded text, don't forget to change it later
														p.text-dark.mb-0.ml-4 Monday – Sunday: 12:00 – 22:00
												.d-flex.flex-column.justify-content-start.align-items-start.my-2
													div
														i.fas.fa-share-square.fa-sm.text-dark.mr-2
														p.d-inline-block.text-dark.text-capitalize.font-weight-bold.m-0 Website
													div
														p.text-dark.mb-0.ml-4 
															a.text-primary(href=`${company.contacts.website}`, target="_black")= `${company.contacts.website}`
											.col.d-flex.flex-column.justify-content-start.align-items-start
												div
													img.w-100(src=h.staticMapSmall([company.location.coordinates[0], company.location.coordinates[1]]))
												.d-flex.flex-column.justify-content-start.align-items-start.my-2
													div
														i.fas.fa-location-arrow.fa-sm.text-dark.mr-2
														p.d-inline-block.text-dark.text-capitalize.font-weight-bold.m-0 Address
													div
														p.text-dark.mb-0.ml-4 
															a.text-primary(href=`//www.google.com/maps/search/?api=1&amp;query=${company.location.coordinates[0]}%${company.location.coordinates[1]}`, target="_black")= `${company.location.address}`
												.d-flex.flex-column.justify-content-start.align-items-start.my-2
													div
														i.fas.fa-building.fa-sm.text-dark.mr-2
														p.d-inline-block.text-dark.text-capitalize.font-weight-bold.m-0 Neighborhood
													div
														p.text-dark.mb-0.ml-4= `${company.location.city}`
								#single-company-content-main-papers
									h2.m-0.text-dark.text-capitalize.py-4 Required papers
									#single-company-content-main-papers-content(dir="rtl")
										if company.required_papers
											- var requiredPapers = company.required_papers.split(',');
											ul.list-group
											each paper in requiredPapers
												li.list-group-item.list-group-item-action.flex-column.align-items-start.border-0.px-2.text-right
													.d-flex.w-100.justify-content-between.align-items-center
														h4.py-0.ml-5.m-0.text-capitalize.text-justify= paper
														small.badge.badge-dark.d-flex.align-items-center Important
										else
											h1.text-capitalize.text-muted.text-center.py-2.display-5 there is no required papers for this company
								#single-company-content-main-reviews
									h2.m-0.text-dark.text-capitalize.py-4 Reviews
									if (user && !company._id.equals(user._id))
										#single-company-content-main-reviews-adding.mb-3
											+reviewForm(company)
									#single-company-content-main-reviews-content
										if (reviews && reviews.length > 0)
											each review, index in reviews
												+singleReview(review, company, index)
										else
											h1.text-capitalize.text-muted.text-center.py-5.display-6 there is no reviews for this company
									if (!user)
										.mt-5.py-3.border-top.text-center
											p.h6.text-muted Sign in as a user to leave a review.
											a(href="/login" class="btn btn-gradient-primary text-white btn-fw text-uppercase font-weight-bold mt-3") Sign In
					
					
					.col-12.col-lg-4
						.card.w-100.border#single-company-content-side
							.card-body.p-2
								h4.m-0.text-dark.text-capitalize.text-center.py-2.card-title.display-5 Most viewed trips
								#single-company-content-side-trips
									if ( trips && trips.length > 0)
										each trip in trips
											a.media.py-2.company-trip(href=`/trip/${trip.slug}` style="text-decoration:none;")
												if trip.travel_type === 'air'
													i.fas.fa-plane.fa-3x.text-dark.mr-2
												else if trip.travel_type === 'land'
													i.fas.fa-bus.fa-3x.text-dark.mr-2
												else
													i.fas.fa-ship.fa-3x.text-dark.mr-2
												div.media-body.mb-0.small.lh-125.d-flex.flex-column
													strong.d-block.text-dark= `${trip.name}`
													span.font-italic.text-primary= `from ${trip.duration.from} to ${trip.duration.to}`
													p.text-muted.m-0= `${trip.description.slice(0, 150)}...`
									else
										p.lead.my-3.text-center.text-dark There is no trips for this company.
