extends ../layouts/home-layout.pug

block content
	#list-trips.bg-white
		#list-trips-header.pt-100
			.bg-blure(style=`background-image: url('/img/masjid.jpg')`)
			.container.d-flex.flex-row.align-items-center.justify-content-start(style="min-height: 250px;")
				.row
					#list-trips-header-container
						h3.display-1.text-white.text-uppercase.text-left trips
		main#list-trips-content.bg-white.pb-5
			.container
				.row
					.col-12.col-lg-3
						.card.w-100.border#list-trips-content-filter
							.card-body.py-2
								#list-trips-content-filter-nav
									h4.m-0.text-dark.text-capitalize.py-2.card-title.display-5 Filter
									form.mt-3(action="#" method="GET" id="filter-form")
										.row
											.form-group.col-12.mb-2
												label.text-capitalize.text-dark.font-weight-bold.col-form-label(for="#filter-stars") hotel Stars
												.br-wrapper.br-theme-fontawesome-stars-o
													select.form-control#filter-stars
														option(value="1")
														option(value="2")
														option(value="3")
														option(value="4")
														option(value="5")
														option(value="6")
														option(value="7")
											.form-group.col-12.mb-2#filter-type
												label.text-capitalize.text-dark.font-weight-bold.col-form-label(for="#filter-type") Trip Type
												.form-radio.col-12.my-2
													label.form-check-label
														if (type == "umrah")
															input.form-check-input(type='radio',name="type", value='umrah' checked="")
														else 
															input.form-check-input(type='radio',name="type", value='umrah')
														| Umrah
														i.input-helper
												.form-radio.col-12.my-2
													label.form-check-label
														if (type == "hajj")
															input.form-check-input(type='radio',name="type", value='hajj' checked="")
														else 
															input.form-check-input(type='radio',name="type", value='hajj')
														| Hajj
														i.input-helper
											.form-group.col-12.mb-2#filter-travel-type
												label.text-capitalize.text-dark.font-weight-bold.col-form-label(for="#filter-travel-type") Traveling Type
												.form-radio.col-12.my-2
													label.form-check-label
														if (travel_type == "air")
															input.form-check-input(type='radio',name="travel_type", value='air' checked="")
														else 
															input.form-check-input(type='radio',name="trvel_type", value='air')
														| Air
														i.input-helper
												.form-radio.col-12.my-2
													label.form-check-label
														if (travel_type == "land")
															input.form-check-input(type='radio',name="travel_type", value='land' checked="")
														else 
															input.form-check-input(type='radio',name="travel_type", value='land')
														| Land
														i.input-helper
												.form-radio.col-12.my-2
													label.form-check-label
														if (travel_type == "sea")
															input.form-check-input(type='radio',name="travel_type", value='sea' checked="")
														else 
															input.form-check-input(type='radio',name="travel_type", value='sea')
														| sea
														i.input-helper
											.form-group.col-12.mb-2#filter-price
												label.text-capitalize.text-dark.font-weight-bold.col-form-label(for="#filter-price") Price
												.form-radio.col-12.my-2
													label.form-check-label
														if (price_max <= 100 && price_min >= 1  || price_max <= 50000)
															input.form-check-input(type='radio', name="price", data-price-max="100" data-price-min="1" checked="")
														else 
															input.form-check-input(type='radio', name="price", data-price-max="100" data-price-min="1")
														| 1LE to 100LE
														i.input-helper
												.form-radio.col-12.my-2
													label.form-check-label
														if (price_max <= 1000 && price_min >= 100)
															input.form-check-input(type='radio', name="price", data-price-max="1000" data-price-min="100" checked="")
														else 
															input.form-check-input(type='radio', name="price", data-price-max="1000" data-price-min="100")
														| 100LE to 1,000LE
														i.input-helper
												.form-radio.col-12.my-2
													label.form-check-label
														if (price_max <= 10000 && price_min >= 1000)
															input.form-check-input(type='radio', name="price", data-price-max="10000" data-price-min="1000" checked="")
														else 
															input.form-check-input(type='radio', name="price", data-price-max="10000" data-price-min="1000")
														| 1,000LE to 10,000LE
														i.input-helper
												.form-radio.col-12.my-2
													label.form-check-label
														if (price_max <= 50000 && price_min >= 10000)
															input.form-check-input(type='radio', name="price", data-price-max="50000" data-price-min="10000" checked="")
														else
															input.form-check-input(type='radio', name="price", data-price-max="50000" data-price-min="10000")
														| 10,000LE to 50,000LE
														i.input-helper
											.form-group.w-100.my-3
												button.btn.btn-success.btn-block(type="submit" id="filter-submit") Search
												
					.col-12.col-lg-9
						.card.w-100.border#list-trips-content-main
							.card-body.py-2
								h4.m-0.text-dark.text-capitalize.py-2.card-title.display-5 Trips
									small.text-muted.m-0.ml-3.d-inline-block= `${trips.length} trips are available`
								#list-trips-content-main-trips.border-bottom
									if (trips.length > 0)
										each trip in trips				
											.trip.d-flex.flex-row.justify-content-start.align-items-start.py-2
												div.border.p-4.rounded
													if trip.travel_type == "air"
														i.trip-icon.fas.fa-plane.text-dark.fa-3x
													else if trip.travel_type == "land"
														i.trip-icon.fas.fa-bus.text-dark.fa-3x
													else 
														i.trip-icon.fas.fa-ship.text-dark.fa-3x
												.trip-body.d-flex.flex-column.align-items-start.justify-content-between.w-100.ml-2.pb-3
													h3.w-100.d-flex.flex-row.justify-content-between.align-items-center.mb-0
														a.text-dark.text-capitalize.font-weight-bold.text-left.display-3.d-inline.m-0(href=`/trip/${trip.slug}` style="text-decoration: none;")= `${trip.name}`
														if (user && trip.author._id.equals(user._id))
															a.float-right.mt-3(href=`/dashboard/trips/delete/${trip._id}` id=`deactivateTrip-${trip.code}`  data-toggle="tooltip" data-placement="top" title="De-Activatate this trip!")
																i.fas.fa-eye-slash.text-dark.fa-xs
													p.w-100.text-success.m-0= `From ${trip.duration.from} To ${trip.duration.to}`
														if trip.price
															span.text-success.float-right.font-weight-bold.text-center.h4.m-0= `${trip.price} LE`
													a.text-dark(href=`/company/${trip.author.slug}` style="text-decoration: none;")= `Company name: ${trip.author.name}`
													a(href=`/trip/${trip.slug}` style="text-decoration: none;")
														p.w-100.text-muted.m-0= `${trip.description.slice(0, 150)}...`
													.d-flex.flex-row.justify-content-start.mt-3
														p.font-weight-bold.mr-3.mb-0 Hotel Include: 
														if trip.hotel.include.split(',').length <= 2
															each badge in trip.hotel.include.split(',')
																.badge.mr-1.badge-success= badge
														else 
															.badge.mr-1.badge-success= trip.hotel.include.split(',')[0]
															.badge.mr-1.badge-success= trip.hotel.include.split(',')[1]
															.badge.mr-1.bg-white.text-success= `+${trip.hotel.include.split(',').length - 2}`
											script.
												$(document).ready(function(){
													$(`#deactivateTrip-#{trip.code}`).on('click', function(e){
														e.preventDefault();
														var redirectUrl = $(this).attr('href');
														var $deleteRev = confirm('Are you sure you want to De-Activatate this Trip? ');
														if ($deleteRev){
															window.location.href = redirectUrl;
														}
													});
												});
									else 
										h1.my-5.text-center.display-2.text-capitalize.text-muted there is no trips available
								if (trips.length != 0)
									#list-trips-content-main-pagenation
										nav(aria-label='Page navigation example')
											ul.pagination.justify-content-end.my-3
												li(class=(page == 1 ? "disabled page-item" : "page-item"))
													a.page-link(href=`/trips/${page - 1}`, tabindex='-1') 
														i.fas.fa-arrow-left
												- for(var i = 1 ; i <= pages ; i++){
													li(class=(page==i ? "active page-item" : "page-item"))
														a.page-link(href=`/trips/${i}`)= `${i}`
												- } 
												li(class=(page == pages ? "disabled page-item" : "page-item"))
													a.page-link(href=`/trips/${page++}`) 
														i.fas.fa-arrow-right
			script.
				$(document).ready(function(){

					


					var $starsValue = "#{stars}";
					var initialRatingNum = parseInt($starsValue);
					$('#filter-stars').barrating({
						theme: 'fontawesome-stars',
						deselectable: true,
						readonly: false,
						initialRating: `${initialRatingNum}`,
						onSelect:function(value){
							$('#filter-stars').val(value);
						}
					});

					$('#filter-submit').on('click', function(e){
						e.preventDefault();

						// geting values from inputs
						var $stars = $('select#filter-stars').val();
						var $type = $("#filter-type input[type='radio']:checked").val();
						var $travelType = $("#filter-travel-type input[type='radio']:checked").val();
						var $price_max = $("#filter-price input[type='radio']:checked").data('price-max');
						var $price_min = $("#filter-price input[type='radio']:checked").data('price-min');
						
						window.location.href = `/trips/1?stars=${$stars}&price_max=${$price_max}&price_min=${$price_min}&type=${$type}&travel_type=${$travelType}`;
					});
					
				});